body {
    background: url('../img/background.png') repeat-x;
    background-size: auto 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100%;
    display: grid;
    grid-template-areas: "duvidas secao";
    grid-template-columns: 1fr 1fr;
}

.faq-section {
    grid-area: duvidas;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-section .faq-content {
    max-width: 715px;
    margin-left: 100px;
}

.faq-section .faq-content h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.faq-section .faq-content p {
    font-size: 37px;
}

.form-section {
    grid-area: secao;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section .form {
    background-color: #fff;
    max-height: 860px;
    width: 80%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section .form .input {
    height: 80px;
    padding: 20px;
    font-weight: 400;
    margin-top: 40px;
    border: #000 solid 2px;
}

.form-section .form .input:first-child {
    margin-top: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.form-section .form #message {
    height: 200px;
    resize: none;
}

.form-section .form .input::placeholder {
    color: #A8A8A8;
    font-weight: 700;
}

.form-section .form p {
    font-size: 33px;
    margin-top: 18px;
    transform: translateX(-15px);
}

.form-section .form .submit {
    height: 100px;
    background-color: #3CCC87;
    border: none;
    font-weight: 700;
    margin-top: 45px;
    cursor: pointer;
}

.form-section .form .input, .form-section .form .submit {
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.faq-section .faq-content h1, .faq-section .faq-content p, .form-section .form .submit {
    color: #fff;
}

.required-field {
    color: #F52E2E;
    font-size: 18px;
    margin-bottom: -20px;
    display: none;
}

.required-field:last-of-type{
    margin-bottom: 0;
}

.visible {
    display: block;
}

.form-section .form .red-border {
    border: #F52E2E solid 2px;
}

.form-section .form .green-border {
    border: #00C22B solid 2px;
}